body
{
    margin: 0px;
    padding: 0px;
}

div#bannersup
{
    width: 100%;
    height: 230px;
    background-color: #fff;
    position: absolute;
    padding: 20px 10px;
    top: 0px;
}

div#bannersup #logo img
{
    width: auto;
    height: 200px;
}

div#fotoroupa1 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 2.5%;
    top: 320px;
}

div#fotoroupa2 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 18.5%;
    top: 320px;
}

div#fotoroupa3 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 34.5%;
    top: 320px;
}

div#fotoroupa4 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 50.5%;
    top: 320px;
}

div#fotoroupa5 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 66.5%;
    top: 320px;
}

div#fotoroupa6 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 82.5%;
    top: 320px;
}

div#fotoroupa7 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 2.5%;
    top: 720px;
}

div#fotoroupa8 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 18.5%;
    top: 720px;
}

div#fotoroupa9 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 34.5%;
    top: 720px;
}

div#fotoroupa10 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 50.5%;
    top: 720px;
}

div#fotoroupa11 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 66.5%;
    top: 720px;
}

div#fotoroupa12 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 82.5%;
    top: 720px;
}

div#fotoroupa13 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 2.5%;
    top: 1120px;
}

div#fotoroupa14 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 18.5%;
    top: 1120px;
}

div#fotoroupa15 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 34.5%;
    top: 1120px;
}

div#fotoroupa16 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 50.5%;
    top: 1120px;
}

div#fotoroupa17 figure img
{
    width: auto;
    height: 300px;
    background-color: #e6e8fa;
    position: absolute;
    left: 66.5%;
    top: 1120px;
}

footer
{
    width: 100%;
    height: 300px;
}

footer .main
{
    width: 100%;
    height: 40px;
    background-color:#fffafa;
    position: absolute;       
    padding: 20px 10px;  
    top: 1500px;       
}

.footer social
{
    color: #e6e8fA;
    height: 100%;
    min-height: 100px;
}

.main .social img
{
    width: 32px;
    height: 32px;
}

@keyframes animacaoAlerta
{
    0% 
    {
        background-color: #11ffee00;
        position: fixed;
        opacity: 1;
    }

    100% 
    {
        background-color: #11ffee00;
        position: fixed;
        opacity: 0;
    }
}

div#alerta
{
    width: 400px;
    height: 55px;
    background-color: #11ffee00;
    text-align: center;
    line-height: 10px;
    position: fixed;
    bottom: 20px;
    right: 10px;
    animation-name: animacaoAlerta;
    animation-duration: 1s;
    animation-iteration-count: infinite;


}